@import "normalize.css";
@import "./components/tabs.post.css";

/* @lost gutter 60px;
@lost flexbox flex;
@lost cycle none;
@lost clearing left;
@lost rounder 100;
@lost --beta-direction rtl; */

$blue: red;

.container {
  display: grid;
}

.row {
  grid-template-columns: 10;
}

.test {
  display: flex;
  color: $blue;

  .sub {
    color: orange;
  }
}

.test2 {
  color: red;
}

.example {
  color: red;
}

body {
  background: orange;
  color: $blue;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

article :--heading + p {
  margin-top: 0;
}

.o-container {
  lost-center: 2500px;
  lost-utility: clearfix;
}

.o-column {
  lost-column: 1/2;
}