$test: green;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/grid/columns";
@import "~some-package/test";

// testen
* {
  color: $test !important;
  //background: url('./images/stub.png');
  //background: url('./icons/arrow-right.svg');
}

body {
  font-family: 'robotothin_italic' sans-serif, serif;
  //background: url('./icons/cook2.svg');
}

@font-face {
  font-family: 'robotothin_italic';
  src: url('./fonts/Roboto-ThinItalic-webfont.eot');
  src:
    url('./fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
    url('./fonts/Roboto-ThinItalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.testThree {
  color: orangered;
}

.testFour {
  color: grey;
  background: url('./icons/instagram.svg');
  background: url('./icons/youtube.svg')
}

.test {
  h1 {
    color: deeppink;
  }
}


// Icomoon test
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-youtube {
  width: 0.857421875em;
}

.icon-teapot {
  width: 1.1875em;
}

.icon-arrow-left {
  width: 0.857421875em;
}

.icon-arrow-right {
  width: 0.857421875em;
}

.icon-arrow-up {
  width: 0.9287109375em;
}

.icon-arrow-down {
  width: 0.9287109375em;
}

.icon-coffee {
  width: 1.0712890625em;
}

.icon-cutlery {
  width: 0.7861328125em;
}

.icon-vimeo-square {
  width: 0.857421875em;
}

.icon-tripadvisor {
  width: 1.2861328125em;
}
